.button
{
	-fx-background-color: ghostwhite;
	-fx-text-fill: black;
}
.button:hover
{
	-fx-background-color: black;
	-fx-text-fill: aliceblue;
}

#TopPane
{
	-fx-background-image: url("back.jpg");
}

#LeftPane, #RightPane
{
	-fx-background-image: url("col.png");
	-fx-background-size: stretch;
}

#TextArea
{
	-fx-font-size: 18 pt;
	-fx-font-color: darkgrey;
	-fx-font-style: italic;
}


